.ng-dd-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ng-dd-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
